body { 
    font-family: 'Inter', system-ui, sans-serif;
}

.sidebar-active {
    background-color: #f0fdf4 !important;
    color: #166534 !important;
    font-weight: 600;
}

.nav-item { 
    transition: all 0.2s;
}

.nav-item:hover { 
    background-color: #f3f4f6;
}

/* Ajuste sutil na exibição das páginas com base no Tailwind */
.page { 
    display: none;
}

.page.active { 
    display: block;
}
